<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Patient</title>

</head>
<body>
    <h1>Delete Patient</h1>
    <hr>

    <form action="/delete_patient" method="POST">

        <label for="phonenumber">Phone Number*  </label>
        <input type="number" class="text1" id="phonenumber" name="phonenumber" min="4" maxlength="10" required><br>

        </select><br>
        <pre>(*)Fields are compulsary</pre>
        <br><br>
        <button class="button" type="submit">Delete</button> &nbsp;
        <button class="rbutton" type="reset">Reset</button>
    </form>

    {% if msg %}
         <div class="form-container">
             <h3>Deleted Successfully</h3>
         </div>
    {% endif %}

<hr>
<a href="javascript:history.back()">Go Back</a>&emsp;
<a href="/"> Home Page </a>
</body>
</html>