<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Patient</title>

</head>
<body>
    <h1>Find Patient</h1>
    <hr>

    <form action="/get_patient_by_id" method="POST">

        <label for="phonenumber">Phone Number*  </label>
        <input type="number" class="text1" id="phonenumber" name="phonenumber" min="4" maxlength="10" required><br>

        </select><br>
        <pre>(*)Fields are compulsary</pre>
        <br><br>
        <button class="button" type="submit">Find</button> &nbsp;
        <button class="rbutton" type="reset">Reset</button>
    </form>

<hr>
<a href="javascript:history.back()">Go Back</a>&emsp;
<a href="/"> Home Page </a>
</body>
</html>