<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Patient</title>

</head>
<body>
    <h1>Update Patient</h1>
    <hr>

    <form action="/edit_patient" method="POST">
        <label for="name">Name*  </label>
        <input type="text" class="text1" id="name" name="name" required><br>
        <label for="phonenumber">Phone Number*  </label>
        <input type="number" class="text1" id="phonenumber" name="phonenumber" min="4" maxlength="10" required><br>
        <label for="age">Age*  </label>
        <input type="number" class="text1" id="age" maxlength="2" min="0" name="age" required ><br>
        <label for="address">Address*  </label>
        <input type="text" class="text1" id="address" name="address" required><br>
        <label for="bedtype">Bed Type*  </label>
        <select id="bedtype" class="text1" name="bedtype">
            <option value="GeneralWard">General Ward</option>
            <option value="SemiSharing">Semi Sharing</option>
            <option value="SingleRoom">Single Room</option>
        </select><br>
        <label for="state">State*  </label>
        <input type="text" class="text1" id="state" name="state" required><br>
        <label for="city">City*  </label>
        <input type="text" class="text1" id="city" name="city" required><br>
        <label for="patientstatus">Patient Status*  </label>
        <select id="patientstatus" class="text1" name="patientstatus">
            <option value="Active">Active</option>
            <option value="Discharged">Discharged</option>
        </select><br>
        <pre>(*)Fields are compulsary</pre>
        <br><br>
        <button class="button" type="submit">Update</button> &nbsp;
        <button class="rbutton" type="reset">Reset</button>
    </form>

<hr>
<a href="javascript:history.back()">Go Back</a>&emsp;
<a href="/"> Home Page </a>
</body>
</html>