{% extends "layout.html" %}

{% block title %} Update Patient {% endblock %}

{% block content %}

<div class="astatus">

    <h1 style="color: rgb(228, 1, 1);" > Update Patients </h1><br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p style="font-weight: bolder; color: red; font-size: larger;"> {{ msg }} </p>
            {% endfor %}
        {% endif %}
    {% endwith%}

    <table border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PHONE NUMBER</th>
            <th>AGE</th>
            <th>BEDTYPE</th>
            <th>ADDRESS</th>
            <th>CITY</th>
            <th>STATE</th>
            <th>PATIENT STATUS</th>
            <th>ADMIT DATE</th>
            <th>LAST EDIT</th>
            <th></th>

        </tr>
        {% for update in updatep %}
        <tr>
            <td> {{ update.id }} </td>
            <td> {{ update.name }} </td>
            <td> {{ update.phonenumber }} </td>
            <td> {{ update.age }} </td>
            <td> {{ update.bedtype }} </td>
            <td> {{ update.address }}</td>
            <td> {{ update.city }} </td>
            <td> {{ update.state }} </td>
            <td> {{ update.patientstatus }} </td>
            <td> <button type="button" class="ubutton" onclick="window.location='edit_patient/{{ update.id }}'"> Update Patient </button> </td>
        </tr>
        {% endfor %}
    </table>
    <br>

    <form action="{{ url_for('update_patient') }}">
    <button type="submit" class="ibutton" value="Refresh the list">Refresh Patient Status</button>
    </form>
</div>

{% endblock %}
